<!DOCTYPE html>
<html>
<head>
    <title>Clear Events</title>
    <link rel="stylesheet" href="/style.css" />
</head>
<body>
    <h1>Clear All Events</h1>
    <p>All events have been cleared</p>

    <hr>
        <div class="buttons">
            <a href="/">
            <button>Back to Home</button>
        </a>
    </div>
</body>
</html>