<!DOCTYPE html>
<html>
<head>
    <title>Clear Events</title>
    <link rel="stylesheet" href="/style.css" />
</head>
<body>
    <h1>Clear All Events</h1>
    <p>All events have been cleared</p>
    <a href="/"><button>Go Back</button></a>
</body>
</html>