<!DOCTYPE html>
<html>
<head>
    <title>Weather & Events</title>
    <link rel="stylesheet" href="/style.css" />
</head>
<body>
    <h1>Event Weather Prediction (for &lt5 days)</h1>
    <div class="buttons">
        <a href="/new"><button>Create Event</button></a>
        <a href="/events"><button>View Events</button></a>
        <a href="/clear"><button>Clear Events</button></a>
    </div>
    
    <hr>
    <a href="/"><button>Back to Home</button></a>
</body>
</html>