<!DOCTYPE html>
<html>
<head>
    <title>Create Event</title>
    <link rel="stylesheet" href="/style.css" />
</head>
<body>
    <h1>Create a New Event</h1>

        <form action="/new" method="POST">
        <input type="text" name="name" placeholder="Event name" required />  
        <input type="date" name="date" required />

        <button type="submit">Create Event</button>
    </form>
    
    <hr>
    <a href="/"><button>Back to Home</button></a>

</body>
</html>